:root {
  --primaryColor: rgb(0, 139, 139, 0.7);
  --secondaryColor: white;
  --thirdColor: black;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background: var(--secondaryColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  color: var(--thirdColor);
  margin: 0;
}
/* header with nav */
header {
  display: flex;
  height: fit-content;
  width: 100%;
  background: var(--thirdColor);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header h1 {
  background-color: var(--primaryColor);
  margin: 10px 0 20px 0;
  padding: 0 5px 0 30px;
}
nav {
  padding-right: 5%;
  margin-bottom: 10px;
}
nav a {
  color: var(--secondaryColor);
  text-decoration: none;
  padding: 0 10px;
  text-transform: capitalize;
  border-bottom: 3px solid var(--secondaryColor);
  font-weight: bold;
  white-space: nowrap;
}
/* end of header with nav */

/* hero banner */
.hero-banner {
  display: flex;
  width: 100%;
  height: 30vh;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
}
.hero-banner h2 {
  padding: 5px 10px 0 10px;
  margin: 20px 50px;
  background-color: rgb(255, 255, 255, 0.5);
  font-weight: bold;
  font-style: italic;
}
/* end of hero banner */

/* grid with sections */
.page-section {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto;
}
.page-section h2 {
  color: var(--thirdColor);
  padding-left: 10px;
  justify-self: flex-end;
  margin: 0 20px 0px 0;
  padding-right: 20px;
  border-right: 2px solid var(--thirdColor);
}
/* end of grid with sections */

/* about me text and photo*/
.foto {
  float: left;
  margin-right: 10px;
  height: 20vh;
  box-shadow: 5px 5px var(--primaryColor);
}

.text p::first-letter {
  font-weight: bolder;
  font-size: 20px;
}
/* end about me text and photo*/

/* work section */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
.item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}
.item {
  border: 5px solid var(--primaryColor);
  flex-basis: 49%;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  background-size: 100%;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--thirdColor);
}
.horiseon {
  background-image: url("../images/screencapture-1eva1987-github-io-horiseon-improving-accssesibility-2022-12-02-09_27_30.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.img-1 {
  background-image: url(../images/02-portfolio-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-2 {
  background-image: url(../images/02-portfolio-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-3 {
  background-image: url(../images/02-portfolio-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-4 {
  background-image: url(../images/02-portfolio-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.info-text {
  align-self: flex-end;
  margin-bottom: 20px;
  padding: 5px;
  background-color: var(--primaryColor);
}
/* end of work section */

/* contact section */
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.links a {
  text-decoration: none;
  color: var(--thirdColor);
  border-bottom: 3px solid var(--thirdColor);
  padding: 10px;
  margin-bottom: 40px;
}
/* end of contact section */
.page-wrapper {
  margin-right: 40px;
}
@media screen and (max-width: 979px) {
  header h1 {
    text-align: center;
    flex-basis: 100%;
    padding: 0;
  }
  .text p {
    margin: 0;
  }
  nav {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding-right: 0;
  }
  nav a {
    justify-items: center;
    margin: 0 5px 0 5px;
  }
  .page-section {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .page-section h2 {
    color: var(--thirdColor);
    padding-left: 0;
    justify-self: flex-start;
    justify-self: stretch;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid black;
    border-right: none;
  }
  .page-wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 769px) {
  header nav {
    justify-content: space-around;
  }
  .hero-banner {
    justify-content: center;
  }
  .item {
    flex-basis: 100%;
  }
  .links {
    flex-direction: column;
    align-items: flex-start;
  }
  .links a {
    margin: 0;
  }
  .work-section,
  .text,
  .links {
    margin-top: 20px;
  }
}
