:root {
  --primaryColor: rgb(0, 139, 139, 0.7);
  --secondaryColor: white;
  --thirdColor: black;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background: var(--secondaryColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  color: var(--thirdColor);
  margin: 0;
  /* text-align: justify; */
  /* padding-right: 20px; */
}
/* header with nav */
header {
  display: flex;
  height: fit-content;
  width: 100%;
  background: var(--thirdColor);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header h1 {
  background-color: var(--primaryColor);
  margin: 10px 0 20px 0;
  padding: 0 5px 0 30px;
}
nav {
  padding-right: 5%;
  margin-bottom: 10px;
}
nav a {
  color: var(--secondaryColor);
  text-decoration: none;
  padding: 0 10px;
  text-transform: capitalize;
  border-bottom: 3px solid var(--secondaryColor);
  font-weight: bold;
  white-space: nowrap;
}
/* end of header with nav */

/* hero banner */
.hero-banner {
  display: flex;
  width: 100%;
  height: 30vh;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
}
.hero-banner h2 {
  /* color: var(--thirdColor); */
  padding: 5px 10px 0 10px;
  margin: 20px 50px;
  background-color: rgb(255, 255, 255, 0.5);
  font-weight: bold;
  font-style: italic;
}

/* end of hero banner */

/* grid with sections */
.page-section {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto;
}
.page-section h2 {
  color: var(--thirdColor);
  text-align: end;
  padding-left: 10px;
  justify-self: flex-end;
  margin: 0 20px 50px 0;
  padding-right: 20px;
  border-right: 2px solid var(--thirdColor);
}
/* end of grid with sections */

/* about me text and photo*/
.foto {
  float: left;
  margin-right: 10px;
  height: 20vh;
  box-shadow: 5px 5px var(--primaryColor);
}
.text p {
  margin-right: 10%;
}
.text p::first-letter {
  font-weight: bolder;
  font-size: 20px;
}
/* end about me text and photo*/

/* positioning img links and descriptions*/
.first {
  width: 90%;
  height: auto;
  border: 3px solid var(--primaryColor);
}
.next {
  width: 44.5%;
  height: auto;
  border: 3px solid var(--primaryColor);
}
.project {
  display: inline;
  position: relative;
}
.project p {
  position: absolute;
  bottom: 30px;
  background-color: var(--primaryColor);
}
.text3 {
  color: var(--secondaryColor);
  left: 0px;
}
.text1,
.text2,
.text4 {
  color: var(--secondaryColor);
}
/* end of img link positioning and descriptions*/
/* contact section */
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.links a {
  text-decoration: none;
  color: var(--thirdColor);
  border-bottom: 3px solid var(--thirdColor);
  padding: 10px;
  margin-bottom: 40px;
}
/* end of contact section */
@media screen and (max-width: 460px) {
  .page-section h2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: flex-start;
    font-size: 16px;
  }
  .links {
    flex-direction: column;
    align-self: flex-start;
  }
  .links a {
    margin: 0;
  }
  .foto {
    float: none;
  }
  .text p {
    text-align: justify;
    font-size: 14px;
  }
}
