:root {
  --primaryColor: darkcyan;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* header with nav */
header {
  display: flex;
  height: fit-content;
  width: 100%;
  background: black;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header h1 {
  background-color: var(--primaryColor);
  margin: 10px 0px 20px 0;
  padding: 0 5px 0 30px;
}
nav {
  padding-right: 5%;
}
nav a {
  color: var(--primaryColor);
  text-decoration: none;
  padding: 0 10px;
  text-transform: capitalize;
  border-bottom: 3px solid var(--primaryColor);
  font-weight: bold;
}
/* end of header with nav */

/* hero banner */
.hero-banner {
  display: flex;
  width: 100%;
  height: 30vh;
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
}
.hero-banner h2 {
  background: var(--primaryColor);
  margin: 0 40px 10px 0;
}
/* end of hero banner */
